body {
  background-color: lightblue;
}
.WeatherName{
  font-family: 'Josefin Sans', sans-serif;
}
.WeatherICON{
  background-color: #D3D3D3;
  border: 3px black solid;
  padding: 30px;
  border-radius: 50%;
}
.WeatherDescription{
  text-transform: capitalize;
}


.WeatherName_Array_List{}
.WeatherName_Array_Item{}
.WeatherName_Array_ICON{}
.WeatherName_Array_Dscpt{}
